LoadModule ssl_module modules/mod_ssl.so

Listen 444
<VirtualHost *:444>
    ServerName dev.o3h.local
    SSLEngine on
    SSLCertificateFile "{{ pki_dir }}/certificate-http.pem"
    SSLCertificateKeyFile "{{ pki_dir }}/certificate-http.key"
    SSLCertificateChainFile "{{ pki_dir }}/ca-http-certificate.pem"
    
    SSLVerifyClient none
    SSLCACertificateFile "{{ pki_dir }}/ca_cert_bundle.pem"

    <Location "/openemr-5_0_1_3">
    SSLVerifyClient require
    SSLVerifyDepth 1
    </Location>


    <Location "/private">
    </Location>

    <Location "/private/notes">
    AuthType Basic
    AuthName "Authentication Required"
    AuthUserFile "/etc/httpd/htpasswd"
    Require valid-user

    Order allow,deny
    Allow from all
    </Location>


</VirtualHost>