{
    "icc": false,
    "tls": true,
    "tlsverify": true,
    "tlscacert": "{{ pki_dir }}/ca-docker.pem",
    "tlscert": "{{ pki_dir }}/docker.pem",
    "tlskey": "{{ pki_dir }}/docker.key",
    "userland-proxy": false,
    "default-ulimit": "nofile=50:100",
    "hosts": ["unix:///var/run/docker.sock", "tcp://{{ ansible_eth1.ipv4.address }}:5555"]
  } //Docker command disabled by loca sudeors file